.percent
{
	font-family	:	"lucida grande", tahoma, verdana, arial, sans-serif;;
	font-size	:	10px;
	text-align	:	center;
}

.value-fields
{
	font-family	:	"lucida grande", tahoma, verdana, arial, sans-serif;;
	font-size	:	10px;
	color	:	#000066;
	text-align	:	center;
	width	:	30px;
}




