
.page
{
	width	:1024px;
	padding-bottom:15px;
	/*border	:	solid;
	border-width	:	thick;
	border-color	:#000066;*/
	padding-bottom	:	40px;
	border-style	:solid;
	border-width	:1px;
	border-color	:	#E9E9E9;
}


