<div class="friend">	
	<div class="friend-image"><a href="[LINK]"><img src="[IMAGE]" /></a></div>
	<label>[NAME]</label>
	<!--div style="display:[DISPLAY_ADD_FRIEND]"><input type="button" onclick="a1234567_do_ajax(Ajax.JSON, '[UID]', '[FUID]');return false;" value="Add as associated"/></div-->	
	<div id="app1234567_add-remove-associate_[FUID]" style="display:[DISPLAY_ADD_REMOVE_FRIEND]"><a href="#" onclick=[LINK_ADD_REMOVE_FRIEND]>[ADD_REMOVE_TEXT]</a></div>
	<div style="display:[DISPLAY];"><a href="[LINK_EDIT]">Edit</a></div>
	<div style="display:[DISPLAY];"><a href="[LINK_DELETE]">Delete</a></div>	
</div>