<div style="display:none;width:100px;position:fixed;bottom:20px" id='online-associates' >

</div>	
<div class="area-footer">
<div id="footer" class="footer-bar" [ATTS]>

<table class="footer-bar-table">
	<tr>
		<td>
			<div class="footer-label" style="text-align:left">gbSuite v1.3 is a registered trademark of the gbRND, LLC., a U.S. registered Corporation</div>			
		</td>
		<td>			
			
			<div onClick='a1234567_showOnlineUserDetail()' id="app1234567_associated-online" class="footer-label" style="text-align:right">Online Associates (0)</div>
		</td>
	</tr>
</table>
[BODY]
</div>
</div>
