<table width=100% height=60%>
<tr>
	<td valign=middle align=center>
		<div class="login" [ATTS]>
		    <div class="start-login">
		        <p>[title]</p>
		    </div>
			 <form >
		                    [BODY]
		                    <br>
		                    <br>
		                    
							<input class="check-login" id="app1234567_remember-login" name="remenber-login" type="checkbox"/>Remenber Me
		     </form>
		</div>
	<div class="link-login">
		<ul>
		    <li>gbSuite 2008</li>
			
		</ul>
	</div>	
	</td>
<tr>

</table>