<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="/css/air_style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />



</head>

<body>
	<table class="air-table">
		<tr>
			<td>
				<div class="application-title">AIR</div>
				<br>
		    	<table class="air-rows-applications" cellpadding=0 >
		    		<tr>
		    			<td class="fields-app">
		    				Applications
		    			</td>
						<td class="fields-app">
		    				User
		    			</td>
						<td class="fields-app">
		    				Event
		    			</td>
					</tr>
					<tr>
		    			<td>
		    				App1
		    			</td>
						<td>
		    				Manager
		    			</td>
						<td>
		    				Request
		    			</td>
					</tr>
					<tr>
		    			<td>
		    				App2
		    			</td>
						<td>
		    				Sales Person
		    			</td>
						<td>
		    				Add
		    			</td>
					</tr>
					
		    	</table>
			
			</td>	
		</tr>
	</table>
</body>
</html>
