<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="/css/air.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />


</head>

<body>
	<table class="air-table">
		<tr>
			<td>
				<div class="application-title">AIR-Applications</div>
				<table class="air-applications-view">
					<tr>
						<td class="label-global">
							User:
						</td>
					</tr>
					<tr>
						<td class="label-global">
							Application:
						</td>		
					</tr>
				</table>
				<br>
				<div class="comment-info">
					<label class="label-global">Comment:</label>
					<p>I dont have only the permission to see manager report, but i am the assistent of my manager</p>
				</div>
				<input class="button-rp" name="button-app" type="button" value="AIR">
				<input class="button-rp" name="button-app" type="button" value="Deny">
				<div class="comments">
			    	<label class="label-global">Reply Comment:</label>
					<textarea name"comments"></textarea>					
			    </div>
				<input class="button-rp" name="button-app" type="button" value="Send">
			
			
			
			</td>
		</tr>
	</table>
</body>
</html>
