<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="/css/air_style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />

</head>

<body>
	<table class="air-table">
		<tr>
			<td>
				<div class="application-title">AIR-Request Person list</div>
				<br>
		    	<table class="air-request-person-list" cellpadding=0 >
		    		<tr>
		    			<td class="fields-app">
		    				User
		    			</td>
						<td class="fields-app">
		    				Title
		    			</td>
						<td class="fields-app">
		    				Department
		    			</td>
						<td class="fields-app">
		    				Applications
		    			</td>
						<td class="fields-app">
		    				Deny
		    			</td>
						<td class="fields-app">
		    				Accept
		    			</td>
						<td class="fields-app">
		    				Install
		    			</td>
					</tr>
					<tr>
		    			<td>
		    				Greivin Britton
		    			</td>
						<td>
		    				Sales Manager
		    			</td>
						<td>
		    				Parts
		    			</td>
						<td>
		    				Report Viewer
		    			</td>
						<td class="button-rp">
		    				<input name"deny" type="button" value="Deny">
		    			</td>
						<td class="button-rp">
		    				<input name"Accept" type="button" value="Accept">
		    			</td>
						<td class="button-rp">
		    				<input name"Install" type="button" value="Install">
		    			</td>
					</tr>
					<tr>
		    			<td>
		    				Joel Cruz
		    			</td>
						<td>
		    				Sales Person
		    			</td>
						<td>
		    				Part
		    			</td>
						<td>
		    				Report Viewer
		    			</td>
						<td class="button-rp">
		    				<input name"deny" type="button" value="Deny">
		    			</td>
						<td class="button-rp">
		    				<input name"Accept" type="button" value="Accept">
		    			</td>
						<td class="button-rp">
		    				<input name"Install" type="button" value="Install">
		    			</td>
					</tr>
					
		    	</table>
			
			</td>	
		</tr>
	</table>
</body>
</html>
