<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<!--link href="file:///C|/workspace/FaceBook/css/style.css" rel="stylesheet" type="text/css" /-->
<link href="../../../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="page" align="center">

<div class="leftcolumn">
<div class="logo">
	<img src="../../../images/munkel.jpg"/></div>
<div class="picture">
  <img src="images/UNLogo.gif" />
 </div>
<div class="links">
	<div>
    	<ul class="icongarden">
          <li id="add-application">Add Application</li>
	  	  <li id="view_asso">View Asso</li>
        </ul>
    </div>
</div>
<div class="photo-section">
	<table id="photo" width="140">
      <tr>
        <td class="photo">
        	<p>photo1</p>
        </td>
        <td class="photo">
        	<p>photo2</p>
        </td>
      </tr>
      <tr>
        <td class="photo">
        	<p>photo3</p>
        </td>
        <td class="photo">
        	<p>photo4</p>
        </td>
      </tr>
    </table>
 </div>
</div>
<div class="content">
<div class="menu">    
           <div class="button">Profile</div>
           <div class="button">Stadistic</div>
           <div class="button">Contact</div>
           <div class="button">Friend</div>
</div>

<div class="data-employee">
	<table width="410" id="employee">
      <tr>
        <td>
        	<p>Name:</p>
        </td>
      </tr>
      <tr>
        <td>
        	<p>Status</p>
        </td>
      </tr>
    </table>
    <div class="logoagency"> <img src="images\munkel.png"/> </div>
    <div class="data-personal-employee">
	<table id="employee" width="410">
      <tr>
        <td>
        	<p>Data Personal:</p>
        </td>
      </tr>
      <tr>
        <td>
        	<p>Address:</p>
        </td>
      </tr>
      <tr>
        <td>
        	<p>phone:</p>
        </td>
      </tr>
    </table>
	</div>
</div>

<div class="reports">
<img id="report1" src="images/grafic.gif"/>
</div>

</div>

</div>       


</body>
</html>
