<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="/css/inbox.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body>
<table class="inbox" cellpadding=0 cellspacing=0>
	<tr>
		<td>
			<div class="inbox-menu">
				<label><a href="#">New</a></label>
			</div>
		    	
		   		<div class="list-inbox">
		   		    <div class="inbox-element">
				        <div class="elements-item"><a href="inbox.html">Inbox (3)</a></div>
						<div class="elements-item"><a href="#">Outbox (3)</a></div>
						<div class="elements-item"><a href="#">Deleted (1)</a></div>
				    </div>
					<div class="div1">
				    	<table class="table-list-inbox" cellpadding="0" cellspacing="0">        
				       		<tr>
								<th class="check-delete"><input id="master-check" name="master-check" type="checkbox" onclick="javascript:checkUncheckAll()" value=""></input></th>
								<th><div class="order-up"><img src="/images/resources/order_down.gif"/></div>To</th>
								<th><div class="order-up"><img src="/images/resources/order_down.gif"/></div>Subject</th>
								<th><div class="order-up"><img src="/images/resources/order_down.gif"/></div>Date</th>
								<th class="attach"><img src="/images/resources/attach.gif"/></img></th>
				            </tr>
				           	<tr>
				            	<td class="check-email"><input name="check" type="checkbox" value=""></input></td>
				                <td><a href="inbox_reading_message.html">jimmyenero@gmail.com</a></td>					
				           	    <td>gbSuite Assosiates</td>
				                <td>Fri, 2/8/08 11:49 AM</td>
				                <td>&nbsp;</td>
				   		   	</tr>
			                <tr>
			                    <td class="check-email"><input name="check" type="checkbox" value=""></input></td>
			                    <td>ljcmoreno@gmail.com</td>
			                    <td>Corolla Sold!</td>
			                    <td>Sat, 3/8/08 02:20 PM</td>
			                    <td>&nbsp;</td>
			           		</tr>
				            <tr>
				                    <td class="check-email"><input name="check" type="checkbox" value=""></input></td>
				                    <td>grbritton@gmail.com</td>
				                    <td>Leslie Cruz added Mario Martinez as associate</td>
				                    <td>Sun, 4/8/08 01:05 AM</td>
				                    <td>&nbsp;</td>
				           	</tr>
			                <tr>
			                	<td class="check-email"><input name="check" type="checkbox" value=""></input></td>
			                    <td>michaeldiaz@gmail.com</td>
			                    <td>You are the new TOP Salesperson</td>
			                    <td>Mon, 8/8/08 11:00 AM</td>
			                    <td>&nbsp;</td>
			                </tr>
				    	</table>
						
						<table class="inbox-bar-selector" cellpadding=0 cellspacing=0>		
							<tr>
								<td align=center >
									<table align=center cellpadding=0 cellspacing=0>
										<tr>
											<td><input class="button-selector" name="start" type="button" value="<" /></td>
											<td><input class="button-selector" name="back" type="button" value="<<" /></td>
											<td><div class="inbox-page-number"><a id="page1" href="#"> 1 </a></div ></td>
											<td><div class="inbox-page-number"><a id="page2" href="#"> 2 </a></div></td>
											<td><div class="inbox-page-number"><a id="page3" href="#"> 3 </a></div></td>
											<td><input class="button-selector" name="finish" type="button" value=">>" /></td>
											<td><input class="button-selector" name="next" type="button" value=">" /></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						
					</div>
			    </div>
	
      
		<td>
	<tr>
</table>
		
		
</body>
</html>
