<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="file:///C|/workspace/FaceBook/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page-login">
    <div class="start-login">
        <p>gbSuite Login</p>
    </div>
    
            <form id="login">
                <table id="access-user" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td>
                            <p>User:</p>
                        </td>
                        <td>
                            <input name="user" type="text" value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Password:</p>
                        </td>
                        <td>
                            <input name="password" type="text" value=""/>
                        </td>
                    </tr>
                </table>
                <div class="message-login">
                </div>
                    <input class="button-login" name="accept" type="button" value="Login"/>
                    <input class="button-login" name="accept" type="button" value="Register User"/>
                    <br>
                    <br>
                    <input class="check-login" name="remenber-login" type="checkbox"/>Remenber Me

            </form>
    
</div>
</body>
</html>
